@import "_variables"

//global-reset()
*, *::before, *::after
  box-sizing: border-box
  margin: 0

html, body
  height: 100%
  margin: 0
  color: color_text
  font-size: 16px
  @media mq_ultrawide
    font-size: 32px

body
  width: 100%
  font-family: font_default

a
  text-decoration: none

ol, ul
  list-style-type: none

.required
  color: color_contact_error

.hideme
  display: none

.grayscale
  -webkit-filter: grayscale(100%)
  -moz-filter: grayscale(100%)
  -ms-filter: grayscale(100%)
  -o-filter: grayscale(100%)
  filter: grayscale(100%)
  filter: gray /* IE 6-9 */

.site_nav
  grid-area: nav

.site_header
  grid-area: header

.site_main
  grid-area: main

.site_content
  grid-area: content

.site_aside
  grid-area: aside

.site_footer
  grid-area: footer

.site_footer
  width: 100%
  background-color: color_footer_bg
  opacity: 0.5
  color: color_footer_text
  .container
    max-width: site_width
    margin: 0 auto
    padding: 1rem 2rem
    display: grid
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr))
    align-items: center;
    @media mq_mobile
      width: site_width_mobile
    .footer_copyright
      font-size: small
      text-align: left
    .footer_links
      text-align: right
      .fa
        font-size: large
      a + a
        margin-left: 1rem
    a
      color: color_home_link
      &:hover
        color: color_home_link_hover
        text-decoration: underline
