@import "_variables"

html, body
  height: 100%
  margin: 0
  font-size: 16px
  @media mq_ultrawide
    font-size: 32px

body
  width: 100%
  font-family: font_default
  background-color: #2067b2
  color: #fff
  display: flex
  align-items: center
  justify-content: center

.site_error
  padding: 1rem
  h1
    font-size: 5rem
    margin-bottom: 5rem
  p
    font-size: 2rem
    margin-bottom: 1rem
  a, a:hover, a:active, a:visited
    color: #fff
    text-decoration: underline