@import "page"

.site_main 
  .container
    padding: 1rem
    display: grid
    grid-gap: 1rem
    grid-template-columns: 4fr minmax(15rem, 1fr)
    grid-template-areas: 'content aside'
    @media mq_mobile
      grid-template-columns: auto
      grid-template-rows: auto auto
      grid-template-areas: 'content' 'aside'

.site_content
  h1
    margin-bottom: 1.5rem
  .posts
    display: flex
    flex-wrap: wrap
    justify-content: space-between
  .excerpt
    background-color: color_blog_post_bg
    border: 1px solid color_blog_post_border_line
    box-shadow: 0 1px 7px color_blog_post_border_shadow
    width: 32%
    margin-bottom: 1rem
    display: flex
    flex-direction: column
    justify-content: space-between
    &:nth-child(1), &:nth-child(2)
      width: 49%
    @media mq_min_width
      flex-direction: row
      &:nth-child(n)
        width: 100%
      &:nth-child(1)
        flex-direction: column
    .excerpt_head
      align-self: center
      min-width: 10rem
      width: 100%
    .excerpt_body
      padding: 0 1rem
      width: 100%
      .categories, .tags
        font-size: small
      .content
        font-size: normal
        padding: 1rem 0
    img
      width: 100%
    h1
      font-size: large
      margin: 5px 0
  .page_nav
    display: flex
    flex-wrap: wrap
    justify-content: space-between
    align-items: center
    margin: 1rem 0
    padding: 1rem 0
    border-top: 1px solid color_line
    border-bottom: 1px solid color_line
    .page_nav_next, .page_nav_current
      margin-left: auto

.site_aside
  .wrapper
    border-left: 1px solid color_line
    padding: 0 1rem
    .sidebar_toc
      display: block
    @media mq_mobile
      border: 0
      padding: 0
      .sidebar_toc
        display: none
    div
      display: block
      strong
        display: block
        text-transform: uppercase
    .sidebar_toc
      .toc
        padding: 0
        margin: 0
        .toc-number
          font-size: small
          color: color_text
        .toc-child
          padding-left: 0.8rem
    .sidebar_category
      ul, li
        padding: 0
        margin: 0
      .category-list-count
        font-size: small
        padding-left: 0.5rem
      .category-list-count::before
        content: '('
      .category-list-count::after
        content: ')'
    .sidebar_tagcloud
      .tagcloud
        display: flex
        flex-wrap: wrap
        align-items: baseline
        a
          text-decoration: underline
          &::before
            content: '#'
          &:not(:last-child)
            margin-right: 0.4rem
    .sidebar_toc::after, .sidebar_category::after
      content: ''
      display: block
      border-top: 1px solid color_line
      margin-top: 1rem
      padding-top: 1rem
