@import "index"

.excerpt_img
  display: inline-block
  width: 300px
  padding: 0 15px 5px 0
  float: left
  @media mq_mobile
    display: block
    max-width: 100%
    float: inherit
    padding: 0 0 15px 0

.album_container
  padding: 1rem 0
  text-align: center
  .google_photo_album
    display: flex
    flex-wrap: wrap
    justify-content: center
    a
      border-width: 0 5px
      border-style: solid
      border-color: color_white
